/*
Style Sheet for Bel Sogno
Designed and Coded by Andrea Gonzalez Osuna (@andiosuna)
December the 28th of 2012
*/

/*

HEADER STYLES

*/

header{
	background-image:url(../images/header-bg.png);
}
.social{}
header .pull-right{
	text-align:right;
	font-size:18px;
}
header .pull-right span{
	font-size:16px;
}
header .tagline{
	font-style:italic;
	font-weight:normal;
	color:#9e9e9e;
	display:block;
	width:360px;
	margin-top:40px;
}

/*

NAV STYLES

*/

.nav{
	background-color: #212121;
	font-size: 18px;
	color:#9e9e9e;
}
.nav ul li{
	display:inline;
	text-decoration: none;
}
.nav ul li a{
	padding:8px 15px;
}
.nav ul li a#current{
	/*background-color:#212121;*/
	color:#cecece;
}
/*

BREADCRUMBS

*/
.breadcrumbs #now{
	text-decoration:underline;
	color:#5e5e5e;
}
/*

ASIDE

*/
aside h3,aside h4{
	text-transform:uppercase;
	font-weight:bold;
}
aside ul li{
	margin-left:15px;
	list-style:none;
}
aside .spacing{
	margin:10px 0;
}

/*

CONTENT STYLES

*/

.content{
	width:620px;
	float:left;
	padding-bottom: 20px;
}
/* SLIDER */
.slides{
	display:block;
	width:600px;
	height:335px;
}

#reviews .anythingSlider-default .arrow a{
	background:url(../images/blank.gif);
}
/*HOMEPAGE CONTACT FORM*/
.contact-form{
	margin-left:640px;
	background-color:#212121;
	color:#FFF;
	padding:10px 20px 20px;
	font-style:bold;
	font-size:16px;
	min-height:330px;
}
.contact-form legend{
  text-align:center;
  font-size:24px;
  font-weight:400;
  font-style:normal;
  color:#cecece;
  margin:0px 0px 0px 15px;
}
.contact-form label{
	margin:10px 0 5px 0;
}
.contact-form input,
.contact-form textarea{
	border:1px #9e9e9e;
	width:250px;
	padding:5px;
}
.contact-form textarea{
	min-height:36px;
}
.contact-form button{
	margin-top: 5px;
}
.contact-form .help-label{
	margin-top:5px;
}
.quick-links{
	padding:20px 0 20px 0;
}
.quick-links figure{
	height:215px;
}
.quick-links .pull-left{
	margin-right:20px
}
.quick-links .link .btn{
	display:block;
	float:right;
	margin-bottom:20px;
}
/*SERVICES PAGE*/
.link-button img{
	margin:10px 0 10px 0;
}
.link-button img:hover{
	-webkit-box-shadow:0px 0px 5px 0px#73dbe6;
	box-shadow:0px 0px 5px 0px#73dbe6;
}
/*CATERING PAGE*/
#catering img.th{
	margin:0px 10px 10px 0px;
}
#catering p address{
	display:inline;
}
#catering .btn{
	margin:10px;
	display:block;
	width:92%;
}
/*RENTALS PAGE*/
#rentals figure{
	display:block;
	width:160px;
	height:200px;
	margin:5px;
	padding:20px;
	float:left;
}
#rentals figure.first-of-row{
	margin-left:0px;
}
#rentals figure.last-of-row{
	margin-right:0px;
}
/*ABOUT*/
#about figure{
	display:block;
	float:left;
	margin:10px;
	padding:4px;
	width:132px;
	height:250px;
}
#about figure.last-of-row{
	margin-right:0px;
}
#about figure.first-of-row{
	margin-left:0px;
}
#about figure figcaption{
	margin-left:5px;
}
/*TOOLS PAGE*/
#tools .content img{
	margin-left:30%;
}
/*VENDORS PAGE*/
#vendors .content ul li{
	font-size:18px;
	list-style:none;
	margin-top:10px;
}
#vendors .content ul li ul{
	margin-left:20px;
}
#vendors .content ul li ul li{
	font-size:16px;
	margin:0;
	line-height:18px;
}
#vendors .content h3{
	color:#73dbe6;
	font-weight:bold;
}
/*CONTACT PAGE*/
.contact{
	padding-left:40px;
}
.contact label{
	display:block;
	width:100px;
	margin-top:20px;
}
.contact label.first{
	margin-top:5px;
}
.contact input,
.contact textarea{
	display:block;
	width:240px;
	margin-top:15px;
	padding:5px 10px;
}
.contact textarea{
	height:70px;
}
.contact button{
	margin-left:300px;
	margin-top:10px;
}
.contact .help-label{
	display:block;
	margin-left:100px;
}
/*TOS PAGE*/
#privacy .content ol li,
#privacy .content ul li{
	margin:10px 0 10px 15px;
}
#privacy .content ol li ol li{
	margin:10px 0 10px 30px;
}
#sitemap .content ul li{
	margin-left:40px;
	list-style:none;
}
/*

FOOTER STYLES

*/
footer .pull-left{
	color:#cecece;
}
footer ul.pull-left{
	margin-left:30px;
}
footer ul li{
	list-style:none;
	font-weight:bold;
	padding:10px 0px 0px 0px;
}
footer ul li ul{
	margin-left:15px;
}
footer ul li ul li{
	font-weight:normal;
	padding:3px 0px 0px 0px;
}
footer ul li ul li a,
footer ul li ul li a:link,
footer ul li ul li a:visited{
	color:#4e9ba5;
}
footer .pull-right{
	text-align:right;
	color:#9e9e9e;
	font-size:16px;
	padding-top:10px;
}
footer .pull-right a,
footer .pull-right a:link,
footer .pull-right a:visited{
	color:#4e9ba5;	
}
footer .copy{
	padding-top:70px;
}